html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background: url('replacable.jpg') no-repeat center #000;
	background-size: auto 125%;
	color: #fff;
}

header {
	position: fixed;
	width: 100%;
	cursor: default;
	text-align: center;
}

#heading {
	font-family: 'Fascinate Inline', monospace;
	font-size: 3em;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	margin-bottom: 0;

	/* IDEA: Maybe have the heading pop up on click? */
}

main {
	padding-top: 8em;
}

h2 {
	font-weight: 600;
}

@keyframes pop-in {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

#nameentry {
	display: none;
	position: absolute;
	top: 20vh;
	left: 20vw;
	background: #111;
	padding: 15px 30px;
	border-radius: 6px;
	box-sizing: border-box;
	width: 60vw;
	animation: 250ms pop-in ease;
}

button, input {
	font-family: 'Source Sans Pro', sans-serif;
}

input[type=text] {
	font-family: monospace;
	background: #1e1e1e;
	color: #fff;
	border-radius: 4px;
	border: 2px solid transparent;
	padding: 5px 8px;
	outline: none;
	box-sizing: border-box;
	transition: 40ms ease-in-out border-color;
}

input:focus {
	background: #222;
	border: 2px solid #a50bca;
}

#nameentry input {
	font-size: 28px;
	width: 100%;
	padding: 10px 15px;
	margin: 10px 0;
}

button {
	background: transparent;
	color: #888;
	font-size: 16px;
	font-weight: 600;
	margin: 8px 0;
	padding: 10px;
	border: none;
	cursor: pointer;
	transition: 120ms ease-in-out;
	transition-property: background-color padding color;
}

button:after {
	content: '\2192';
	transition: 120ms ease-in-out;
	margin-left: 6px;
}

button:hover:after {
	margin-left: 10px;
}

button:hover {
	background: #a50bca;
	color: #fff;
	padding: 10px 20px;
}

main {
	margin: 0 18vw;
}

#interface {
	display: none;
}

.song {
	display: flex;
	width: 300px;
	/* height: 95px; */
	border: 1px solid gray;
	overflow: auto;
	margin-bottom: 5px;
}

.name {
	font-family: 'Righteous', monospace;
}

#nowplaying {
	cursor: default;
}

#nowplaying .song {
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	border: none;
	background: #111;
	height: 90px;
	align-items: center;
}

#nowplaying .song > .songtitle {
	font-size: 1.2em;
	font-family: 'Righteous', monospace;
}

#nowplaying .song-thumb {
	margin-right: 1em;
}

#nowplaying button {
	align-self: center;
}

@keyframes push-desc-out {
	from {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(30px);
	}
}

#currentplayer-descr {
	font-family: 'Righteous', monospace;
	animation: 250ms pop-in ease, 400ms push-desc-out ease 250ms;
	padding: 10px 0;
	position: relative;
	transform: translateX(30px);
}

@keyframes rotating-disc {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes fade-in {
	from, 40% { opacity: 0; }
	to { opacity: 1; }
}

/* The disc animation */
#currentplayer-disc {
	position: absolute;
	left: -30px;
	animation: rotating-disc 3s linear infinite, fade-in 600ms ease;
}

.song-thumb {
	align-self: center;
	margin-right: 0.5em;
}

.song-thumb > img {
	height: auto;
	width: auto;
	max-width: 120px;
	max-height: 90px;
	min-width: 90px;
	min-height: 50px;
}

.songtitle {
	flex: 1;
	align-self: center;
}

/* Tab Menu */

#tab-menu {
	background: #111;
	margin-top: 20px;
}

#tab-menu nav {
	display: flex;
}

.menu-item {
	display: inline-block;
	font-weight: 600;
	padding: 10px 20px;
	cursor: pointer;
	opacity: 0.6;
	border-bottom: 4px solid transparent;
	transition: 150ms ease;
}

.menu-item:hover, .menu-item.active {
	opacity: 1;
}

.menu-item.active {
	border-color: #a50bca;
}

#tab-queuesong,
#tab-settings {
	padding: 5px 20px;
}

#tab-settings {
	/* Hide by default. */
	display: none;
}

#tab-queuesong label {
	display: inline-block;
	margin-top: 10px;
}

#input-songurl {
	display: block;
	padding: 8px 15px;
	margin-top: 15px;
	width: 100%;
}

#b-changename {
	margin-left: 0.5em;
}

#volumecontrols {
	display: flex;
	align-items: center;
}

#b-voldown, #b-volup {
	margin-right: 1em;
}

#noplaying, #disconnected {
	display: none;
	font-weight: bold;
}

#queuelist {
	display: flex;
	flex-wrap: wrap;
}

.queue {
	margin-right: 10px;
	margin-bottom: 15px;
}

.errorbox {
	color: #d93434;
	display: none;
	cursor: pointer;
}

.b-remove {
	border: 0;
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	background: transparent;
	padding: 5px;
	text-decoration: none;
	margin: 0.5em;
	align-self: flex-start;
}
.b-remove:before {
	content: "Skip";
}

.b-remove:hover {
	background: #d93434;
	color: #ffffff;
	text-decoration: none;
	padding: 5px 10px;
}


